<%- include('partials/head', {title: pageTitle}) %>
<header>
  <h1>CMD Minor Web Survey</h1>
  <p>Welcome <span class="bold"><%= data.userName %></span>, What are your thoughts about <span
      class="bold"><%= subject %> </span>?</p>
</header>

<%- include('partials/form', { subject: subject, formAction: action  }) %>


<%- include('partials/footer') %>
